body {
    background-color: aquamarine; /* page background color */
    color: darkblue; /* the text color */
    font-family: Arial, 'Times New Roman', Times, serif; /* the text font */
  }

  canvas {
    background-color: black;
  }

  #colour-options {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    padding: 0;
  }

  #colour-options > * {
    padding: 5px;
    border-radius: 5px;
    min-width: 60px;
    text-align: center;
  }

  #red {
    /* color: red; */
    border: red solid 2px;    
    
  }
  
  #red:hover {
    background-color: red;
  }

  #yellow {
    /* color: yellow; */
    border: yellow solid 2px;
  }

  #yellow:hover {
    background-color: yellow;
  }

  #blue {
    /* color: blue; */
    border: blue solid 2px;
  }
  
  #blue:hover {
    background-color: blue;
  }

  #green {
    /* color: green; */
    border: green solid 2px;
  }
  
  #green:hover {
    background-color: green;
  }